<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta charset="utf-8">
<title>Waypoints in directions</title>
<style>
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#map {
	height: 100%;
}

.labels {
	color: red;
	background-color: white;
	font-family: "Lucida Grande", "Arial", sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	width: 40px;
	border: 2px solid black;
	white-space: nowrap;
}
</style>
<script type="text/javascript"
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWXSsnIR_BgsQ7wZBIoxYABRtI6FGwnuU&signed_in=true"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/label.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/oms.min.js') }}"></script>
<script>
	//Log Info
	// var mapInfo = [ [ 'C', 12.98, 77.58, 0, '60.254.150.132', 'IN BANGALORE' ],
	// 		[ 'C', 12.98, 77.58, 0, '60.254.150.132', 'IN BANGALORE' ],
	// 		[ 'P', 35.69, 139.75, 4, '23.32.248.26', 'JP TOKYO' ],
	// 		[ 'I', 35.69, 139.75, 1, '23.3.104.97', 'JP TOKYO' ],
	// 		[ 'C', 35.69, 139.75, 1, '118.155.230.70', 'JP TOKYO' ] ];
	var mapInfo = {{ maps|safe }};
	var styles = [ {
		featureType : "road",
		stylers : [ {
			visibility : "off"
		} ]
	} ];

	var styledMap = new google.maps.StyledMapType(styles, {
		name : "Styled Map"
	});
	var lineSymbol = {
		path : google.maps.SymbolPath.FORWARD_CLOSED_ARROW,
		scale : 3
	};

	var markerInfo = new Array();
	var spiderfy = false;
	
	function initMap() {
		var map = new google.maps.Map(document.getElementById('map'), {
			zoom : 5,
			mapTypeControlOptions : {
				mapTypeIds : [ google.maps.MapTypeId.ROADMAP, 'map_style' ]
			}
		});
		var oms = new OverlappingMarkerSpiderfier(map, {
			keepSpiderfied : true
		});

		var bounds = new google.maps.LatLngBounds();

		var imgMarker = "";
		var textTitle = "";

		for (i = 0; i < mapInfo.length; i++) {

			//set up image marker
			switch(mapInfo[i][0]) {
				case 'E':
					imgMarker = "{{ url_for('static', filename='img/GoogleMapsMarkers/red_MarkerE.png') }}";
					textTitle = "Client : " + mapInfo[i][4] + " (" + mapInfo[i][5] + ")";
					break;
				case 'C':
					imgMarker = "{{ url_for('static', filename='img/GoogleMapsMarkers/orange_MarkerC.png') }}";
					textTitle = "Child Edge : " + mapInfo[i][4] + " (" + mapInfo[i][5] + ")";
					break;
				case 'P':
					imgMarker = "{{ url_for('static', filename='img/GoogleMapsMarkers/yellow_MarkerP.png') }}";
					textTitle = "Parent : " + mapInfo[i][4] + " (" + mapInfo[i][5] + ")";
					break;
				case 'G':
					imgMarker = "{{ url_for('static', filename='img/GoogleMapsMarkers/green_MarkerG.png') }}";
					textTitle = "Peer : " + mapInfo[i][4] + " (" + mapInfo[i][5] + ")";
					break;
				case 'O':
					imgMarker = "{{ url_for('static', filename='img/GoogleMapsMarkers/paleblue_MarkerO.png') }}";
					textTitle = "Origin : " + mapInfo[i][4] +" (" +  mapInfo[i][5] + ")";
					break;
				case 'I':
					imgMarker = "{{ url_for('static', filename='img/GoogleMapsMarkers/blue_MarkerI.png') }}";
					textTitle = "Image : " + mapInfo[i][4] + " (" + mapInfo[i][5] + ")";
					break;
				default:
					imgMarker = "{{ url_for('static', filename='img/GoogleMapsMarkers/purple_MarkerS.png') }}";
					textTitle = "Something : " + mapInfo[i][4] +" (" +  mapInfo[i][5] + ")";
					break;
			}

			var loc = new google.maps.LatLng(mapInfo[i][1], mapInfo[i][2]);
			bounds.extend(loc);

			var marker = new google.maps.Marker({
				map : map,
				position : loc,
				icon : imgMarker,
				title : textTitle
			});

			oms.addMarker(marker);
			map.fitBounds(bounds);
			
			markerInfo.push(marker);
		}

		setTimeout(function() {
			// console.trace("initial");
			var markers = oms.markersNearAnyOtherMarker();
			for (var i = 0; i < markers.length; i++) {
				google.maps.event.trigger(markers[i], 'click');
			}
			
			spiderfy = true;
		}, 2000);
		
		// wait 500ms so the array is fully populated
		setTimeout(
				function() {
					var markerInfo = oms.getMarkers();
					for (var i = 0; i < markerInfo.length; i++) {
						//polyline and downloadtime
						var polyLineColor = "#32CD32";
						if (i > 0) {
							//change color to red for bottleneck
							if (mapInfo[i][3] > 3) {
								polyLineColor = "#FF0000";
							}

							//draw polyline
							var dataRouteCoordinates_1 = [
									new google.maps.LatLng(mapInfo[i - 1][1],
											mapInfo[i - 1][2]),
									new google.maps.LatLng(mapInfo[i][1],
											mapInfo[i][2]) ];
							var routePolyLine = new google.maps.Polyline({
								path : dataRouteCoordinates_1,
								icons : [ {
									icon : lineSymbol,
									offset : '35%'
								} ],
								geodesic : true,
								strokeColor : polyLineColor,
								strokeOpacity : 1.0,
								strokeWeight : 2,
								map : map
							});

							/*
							//display downloadtime
							//var inBetween = google.maps.geometry.spherical.interpolate(markers[i-1].position, markers[i].position, 0.5);
							var startPoint = markerInfo[i-1].position;
							var endPoint = markerInfo[i].position;
							var inBetween = routePolyLine.GetPointAtDistance(startPoint.distanceFrom(endPoint)/2);
							  
							  var downloadTimeLabel = new Label(inBetween);
							  downloadTimeLabel.bindTo('position', markerInfo[i], 'position');
							  downloadTimeLabel.set('text', mapInfo[i][3] + 's');
							  downloadTimeLabel.setMap(map);
							 */
						}
					}
				}, 2500);
		
		map.addListener('zoom_changed', function() {
			if(spiderfy) {
				console.trace("zoom_changed listener");
				setTimeout(function() {
					var markers = oms.markersNearAnyOtherMarker();
					for (var i = 0; i < markers.length; i++) {
						google.maps.event.trigger(markers[i], 'click');
					}
				}, 500);
			}
		});
	}

	google.maps.event.addDomListener(window, 'load', initMap);
</script>
</head>
<body>
	<div id="map"></div>
</body>
</html>