<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>SD Tool: Log Diver</title>

        <!-- <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}"> -->

        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <link href="http://getbootstrap.com/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="http://getbootstrap.com/examples/sticky-footer-navbar/sticky-footer-navbar.css" rel="stylesheet">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

        <!-- jquery ui -->
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <style>
          .custom-combobox {
            position: relative;
            display: inline-block;
          }
          .custom-combobox-toggle {
            position: absolute;
            top: 0;
            bottom: 0;
            margin-left: -1px;
            padding: 0;
          }
          .custom-combobox-input {
            margin: 0;
            padding: 5px 10px;
            background: white;
          }
        </style>
    </head>
    <body>
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <a class="navbar-brand" href="/">Log Diver</a>
            
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <p class="navbar-text">SD Tools</p>
          </div>
        </div>
      </nav>

      <div class="container well">
        <div class="col-lg-6">
        <form>
          <div class="row">
            <div class="col-lg-10">
              <div class="form-group">
                <label>URL</label>
                <input type="text" name="url" class="form-control" id="url">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-5">
              <div class="form-group">
                <!-- <label>Server IP</label>
                <input type="text" name="server_ip" class="form-control" id="server_ip"> -->
                <label>Server IP</label><br/>
                <div class="ui-widget">
                <select id="combobox">
                  <option value=""></option>
                  <option value="etn1.akamai.com">ETN Test</option>
                  <option value="a1.g.akamai-staging.net">ESN map</option>
                  <option value="e1.a.akamaiedge-staging.net">Secure ESN map</option>
                  <option value="a1.g.akamai.net">Prod map</option>
                  <option value="e1.a.akamaiedge.net">Secure Prod map</option>
                </select>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-10">
              <div class="form-group">
                <label>Request Header</label>
                <textarea class="form-control" rows="3" id="result_request_header"></textarea>
              </div>
            </div>
          </div>
          <button id="submit" class="btn btn-primary" type="button">Submit</button>
        </form>
        <br/>
        </div>
        <div class="col-lg-6">
          <label>Progress</label><br/>
          <div class="progress">
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 1%" id="progress_bar">
            </div>
          </div>
          <label>Console</label><br/>
          <textarea readonly class="form-control" rows="5" id="console"></textarea>
        </div>
        <br/>
      </div>

      <!-- <a href="" id="lpengr">Parse Logs</a> -->

      <div class="container">
        <div class="col-lg-6">
          <label>Google Map</label>
          <div class="pull-right">
            <img src="{{ url_for('static', filename='img/GoogleMapsMarkers/red_MarkerU.png') }}" height="20" width="12"> User 
            <img src="{{ url_for('static', filename='img/GoogleMapsMarkers/orange_MarkerC.png') }}" height="20" width="12"> Child 
            <img src="{{ url_for('static', filename='img/GoogleMapsMarkers/yellow_MarkerP.png') }}" height="20" width="12"> Parent 
            <img src="{{ url_for('static', filename='img/GoogleMapsMarkers/green_MarkerG.png') }}" height="20" width="12"> Peer 
            <img src="{{ url_for('static', filename='img/GoogleMapsMarkers/paleblue_MarkerO.png') }}" height="20" width="12"> Origin 
            <img src="{{ url_for('static', filename='img/GoogleMapsMarkers/blue_MarkerI.png') }}" height="20" width="12"> Image 
          </div>
          <iframe class="embed-responsive-item" id="googlemap" src="/googlemap" style="width:100%; height:52%;margin:0px;border:0px"></iframe>
        </div>
        <div class="col-lg-6">
          <div class="row">
            <label>Response Header</label><br/>
            <textarea readonly class="form-control" rows="7" id="result_response_header"></textarea>
          </div>
          <br/>
          <div class="row">
            <label>Summery</label><br/>
            <table class="table table-bordered table-striped" id="summery_table">
              <tr>
                <th>Edge</th>
                <th>IP</th>
                <th>Location</th>
                <th>Time</th>
              </tr>
            </table>
          </div>
        </div>
        <div class="col-lg-12">
          <br/><br/>
            <label>Logs</label>
            <form method="POST" action="https://tools.gss.akamai.com/fetch-view-logs/index.pl" target="_blank" id="log_viewer_form" style="display: inline;">
              <a href="#" class="pull-right hidden_links" onclick="document.getElementById('log_viewer_form').submit();">Log Viewer</a>
              <span class="hidden_controls">
                <textarea class="result_logs" name="loglines"></textarea>
                <input type="checkbox" name="G" VALUE="G" CHECKED>
                <input type="checkbox" name="F" VALUE="F" CHECKED>
                <input type="checkbox" name="S" VALUE="S" CHECKED>
                <input type="checkbox" name="R" VALUE="R" CHECKED>
                <input type="checkbox" name="f" VALUE="f" CHECKED>
                <input type="checkbox" name="r" VALUE="r" CHECKED>
                <input type="checkbox" name="type" VALUE="type" CHECKED>
                <input type="checkbox" name="time" VALUE="time" CHECKED>
                <input type="checkbox" name="requestid" VALUE="requestid" CHECKED>
                <input type="checkbox" name="clientip" VALUE="clientip" CHECKED>
                <input type="checkbox" name="arl" VALUE="arl" CHECKED>
                <input type="checkbox" name="method" VALUE="method" CHECKED>
                <input type="checkbox" name="status" VALUE="status" CHECKED>
                <input type="checkbox" name="contentlength" VALUE="contentlength" CHECKED>
                <input type="checkbox" name="totalsizeserved" VALUE="totalsizeserved" CHECKED>
                <input type="checkbox" name="originresp" VALUE="originresp" CHECKED>
                <input type="checkbox" name="transfer" VALUE="transfer" CHECKED>
                <input type="checkbox" name="totaltime" VALUE="totaltime" CHECKED>
                <input type="checkbox" name="error" VALUE="error" CHECKED>
                <input type="checkbox" name="forwardip" VALUE="forwardip" CHECKED>
                <input type="checkbox" name="misc" VALUE="misc" CHECKED>
              </span>
          </form>
          <form method="POST" action="http://lp.engr.akamai.com/lp.cgi" target="_blank" id="log_parser_form" style="display: inline;">
            <a href="#" class="pull-right hidden_links" onclick="document.getElementById('log_parser_form').submit();" style="padding-right: 12px;">Log Parser</a>
            <textarea class="hidden_controls result_logs" name="loglines"></textarea>
          </form>
          <textarea readonly class="form-control result_logs" rows="10" name="loglines"></textarea>
          <br/>
          <label>Others</label><br/>
          <textarea readonly class="form-control" rows="10" id="result_others"></textarea>
        </div>
      </div>
      <!-- 
      <footer class="footer">
        <div class="container">
          <p class="text-muted">Sangmin, Ricky, Yujin and Astin - Solutions Arichtect Dev Group, Akamai Korea</p>
        </div>
      </footer> 
      -->

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='js/socket.io-1.4.5.js') }}"></script>
      <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
      <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
      <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

      <script type="text/javascript">
        $(".hidden_links").hide();

        $(".hidden_controls").hide();

        $("#submit").click(function() {    
          function init() {
            $('#result_request_header').text('');
            $('#progress_bar').removeClass('progress-bar-warning');
            $('#progress_bar').attr('style', 'width: 1%');
            $('#console').text('');
            $('#result_response_header').text('');
            $('.result_logs').text('');
            $("#summery_table").find("tr:not(:first)").remove();
            $(".hidden_links").hide();
            $("#submit").prop("disabled", true);
          }

          var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
          var socket = io.connect($SCRIPT_ROOT);

          socket.on('disconnect', function() {
            console.log("socket.io disconnected");
          });

          socket.on('connect', function() {
            console.log("socket.io connected");
          });

          init();
          
          var url = $('#url').val();
          var server_ip = $('#server_ip').val();
          socket.emit('log_diver', { 'url': encodeURI(url),
            'server_ip': server_ip });

          socket.on('log_diver', function(message) {
            var json = jQuery.parseJSON(message);
            if (json.type == "request") {
              $('#result_request_header').text(json.content);
              $('#progress_bar').attr('style', 'width:' + json.progress);
              $('#console').append('Request Done\n')
            } else if (json.type == "response") {
              $('#result_response_header').text(json.content);
              $('#progress_bar').attr('style', 'width:' + json.progress);
              $('#console').append('Response Done\n')
            } else if(json.type == "progress") {
                $('#progress_bar').attr('style', 'width:' + json.progress);
            } else if(json.type == "error") {
                init();
                $('#progress_bar').addClass('progress-bar-warning');
                $('#progress_bar').attr('style', 'width: 100%');
                $('#console').append(json.message);
                $('#url').focus().select();
                $("#submit").prop("disabled", false);
                socket.on('disconnect', function() {
                  console.log("socket.io disconnected");
                });
            } else if(json.type == "log") {
              $('.result_logs').append(json.content.trim());
              $('.hidden_links').show();
              $('#result_others').append(json.others.trim());
              $('#progress_bar').attr('style', 'width:' + json.progress);
              $("#googlemap").attr("src", "/googlemap?google_maps=" + json.summery);
              
              var summery = JSON.parse(json.summery.replace(/'/g, "\""));

              for(i = 1; i < summery.length; i++) {
                $("#summery_table").append(
                '<tr><td>' + summery[i][0] + '</td><td>' + summery[i][4] + '</td><td>' + summery[i][5] + '</td><td>' + summery[i][3] + '</td></tr>');
                }

              $('#console').append('Log Done\n');

              $("#submit").prop("disabled", false);
              $('#url').focus();

              socket.disconnect();
            }
          });
        });

        $(function() {
          // var submit_form = function(e) {
          //   $.getJSON($SCRIPT_ROOT + '/log_diver', {
          //     url: $('input[name="url"]').val(),
          //   }, function(data) {
          //     $('#result_request_header').text(data.request_header);
          //     $('#result_response_header').text(data.response_header);
          //     $('#result_logs').text(data.logs);
          //     $("#googlemap").attr("src", "/googlemap?google_maps=" + data.google_maps);

          //     $('input[name=url]').focus().select();
          //   });
          //   return false;
          // };

          // $('button#submit').bind('click', submit_form);

          // $('input[type=text]').bind('keydown', function(e) {
          //   if (e.keyCode == 13) {
          //     submit_form(e);
          //   }
          // });
          // 
        });

        (function( $ ) {
    $.widget( "custom.combobox", {
      _create: function() {
        this.wrapper = $( "<span>" )
          .addClass( "custom-combobox" )
          .insertAfter( this.element );
 
        this.element.hide();
        this._createAutocomplete();
        this._createShowAllButton();
      },
 
      _createAutocomplete: function() {
        var selected = this.element.children( ":selected" ),
          value = selected.text() ? selected.val() : "";
        
        this.input = $( "<input id='server_ip'>" )
          .appendTo( this.wrapper )
          .val( value )
          .attr( "title", "" )
          .addClass( "custom-combobox-input ui-widget ui-widget-content ui-state-default ui-corner-left" )
          .autocomplete({
            delay: 0,
            minLength: 0,
            source: $.proxy( this, "_source" )
          })
          // .tooltip({
          //   tooltipClass: "ui-state-highlight"
          // });
 
        this._on( this.input, {
          autocompleteselect: function( event, ui ) {
            ui.item.option.selected = true;
            this._trigger( "select", event, {
              item: ui.item.option
            });
          },
 
          // autocompletechange: "_removeIfInvalid"
        });
      },
 
      _createShowAllButton: function() {
        var input = this.input,
          wasOpen = false;
 
        $( "<a>" )
          .attr( "tabIndex", -1 )
          // .attr( "title", "Show All Items" )
          .tooltip()
          .appendTo( this.wrapper )
          .button({
            icons: {
              primary: "ui-icon-triangle-1-s"
            },
            text: false
          })
          .removeClass( "ui-corner-all" )
          .addClass( "custom-combobox-toggle ui-corner-right" )
          .mousedown(function() {
            wasOpen = input.autocomplete( "widget" ).is( ":visible" );
          })
          .click(function() {
            input.focus();
 
            // Close if already visible
            if ( wasOpen ) {
              return;
            }
 
            // Pass empty string as value to search for, displaying all results
            input.autocomplete( "search", "" );
          });
      },
 
      _source: function( request, response ) {
        var matcher = new RegExp( $.ui.autocomplete.escapeRegex(request.term), "i" );
        response( this.element.children( "option" ).map(function() {
          var text = $( this ).text();
          var val = $( this ).val();
          if ( this.value && ( !request.term || matcher.test(text) ) )
            return {
              label: text,
              value: val,
              option: this
            };
        }) );
      },
 
      // _removeIfInvalid: function( event, ui ) {
 
      //   // Selected an item, nothing to do
      //   if ( ui.item ) {
      //     return;
      //   }
 
      //   // Search for a match (case-insensitive)
      //   var value = this.input.val(),
      //     valueLowerCase = value.toLowerCase(),
      //     valid = false;
      //   this.element.children( "option" ).each(function() {
      //     if ( $( this ).text().toLowerCase() === valueLowerCase ) {
      //       this.selected = valid = true;
      //       return false;
      //     }
      //   });
 
      //   // Found a match, nothing to do
      //   if ( valid ) {
      //     return;
      //   }
 
      //   // Remove invalid value
      //   this.input
      //     .val( "" )
      //     .attr( "title", value + " didn't match any item" )
      //     .tooltip( "open" );
      //   this.element.val( "" );
      //   this._delay(function() {
      //     this.input.tooltip( "close" ).attr( "title", "" );
      //   }, 2500 );
      //   this.input.autocomplete( "instance" ).term = "";
      // },
 
      _destroy: function() {
        this.wrapper.remove();
        this.element.show();
      }
    });
  })( jQuery );
 
  $(function() {
    $("#combobox").combobox();
  });
      </script>
    </body>
</html>
<br/>