<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>SD Tool: Log Diver</title>

        <link href="http://diver.astinchoi.com/diver/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="http://diver.astinchoi.com/diver/static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
        <link href="http://diver.astinchoi.com/diver/static/css/bootstrap-theme.min.css" rel="stylesheet">
        <link href="http://diver.astinchoi.com/diver/static/css/sticky-footer-navbar.css" rel="stylesheet">
        <link href="http://diver.astinchoi.com/diver/static/css/jquery-ui.css" rel="stylesheet">
        <link href="http://diver.astinchoi.com/diver/static/css/jquery-ui-custom-combobox.css" rel="stylesheet">
        <!--
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/ie10-viewport-bug-workaround.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/sticky-footer-navbar.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/jquery-ui.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/jquery-ui-custom-combobox.css') }}" rel="stylesheet">
        -->
    </head>
    <body>
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <a class="navbar-brand" href="/">Log Diver</a>
            
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <p class="navbar-text">SD Tools</p>
          </div>
        </div>
      </nav>

      <div class="container well">
        <div class="col-lg-6">
        <form>
          <div class="row">
            <div class="col-lg-10">
              <div class="form-group">
                <label>URL</label>
                <input type="text" name="input_url" class="form-control" id="input_url">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-5">
              <div class="form-group">
                <!-- <label>Server IP</label>
                <input type="text" name="server_ip" class="form-control" id="server_ip"> -->
                <label>Server IP</label><br/>
                <div class="ui-widget">
                <select id="combobox">
                  <option value=""></option>
                  <option value="etn1.akamai.com">ETN Test</option>
                  <option value="a1.g.akamai-staging.net">ESN map</option>
                  <option value="e1.a.akamaiedge-staging.net">Secure ESN map</option>
                  <option value="a1.g.akamai.net">Prod map</option>
                  <option value="e1.a.akamaiedge.net">Secure Prod map</option>
                </select>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-10">
              <div class="form-group">
                <label>Request Header</label>
                <textarea class="form-control" rows="3" id="req_header"></textarea>
              </div>
            </div>
          </div>
          <button id="submit" class="btn btn-primary" type="button">Submit</button>
        </form>
        <br/>
        </div>
        <div class="col-lg-6">
          <label>Progress</label><br/>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 1%" id="progress_bar">
            </div>
          </div>
          <label>Console</label><br/>
          <textarea readonly class="form-control" rows="7" id="console"></textarea>
        </div>
        <br/>
      </div>

      <div class="container">
        <div class="col-lg-6">
          <label>Google Map</label>
          <div class="pull-right">
            <img src="http://diver.astinchoi.com/diver/static/img/GoogleMapsMarkers/red_MarkerU.png" height="20" width="12"> User 
            <img src="http://diver.astinchoi.com/diver/static/img/GoogleMapsMarkers/orange_MarkerC.png" height="20" width="12"> Child 
            <img src="http://diver.astinchoi.com/diver/static/img/GoogleMapsMarkers/yellow_MarkerP.png" height="20" width="12"> Parent 
            <img src="http://diver.astinchoi.com/diver/static/img/GoogleMapsMarkers/green_MarkerG.png" height="20" width="12"> Peer 
            <img src="http://diver.astinchoi.com/diver/static/img/GoogleMapsMarkers/blue_MarkerI.png" height="20" width="12"> Image 
            <img src="http://diver.astinchoi.com/diver/static/img/GoogleMapsMarkers/purple_MarkerO.png" height="20" width="12"> Origin 
            <!-- 
            <img src="{{ url_for('static', filename='img/GoogleMapsMarkers/red_MarkerU.png') }}" height="20" width="12"> User 
            <img src="{{ url_for('static', filename='img/GoogleMapsMarkers/orange_MarkerC.png') }}" height="20" width="12"> Child 
            <img src="{{ url_for('static', filename='img/GoogleMapsMarkers/yellow_MarkerP.png') }}" height="20" width="12"> Parent 
            <img src="{{ url_for('static', filename='img/GoogleMapsMarkers/green_MarkerG.png') }}" height="20" width="12"> Peer 
            <img src="{{ url_for('static', filename='img/GoogleMapsMarkers/blue_MarkerI.png') }}" height="20" width="12"> Image 
            <img src="{{ url_for('static', filename='img/GoogleMapsMarkers/purple_MarkerO.png') }}" height="20" width="12"> Origin  
            -->
          </div>
          <iframe class="embed-responsive-item" id="googlemap" src="/googlemap" style="width:100%; height:52%;margin:0px;border:0px"></iframe>
        </div>
        <div class="col-lg-6">
          <div class="row">
            <label>Response Header</label><br/>
            <textarea readonly class="form-control" rows="7" id="result_response_header"></textarea>
          </div>
          <br/>
          <div class="row">
            <label>Summery</label><br/>
            <table class="table table-bordered table-striped table-condensed" id="summery_table">
              <tr>
                <th width="50">Edge</th>
                <th>IP</th>
                <th>Location</th>
                <th>Time</th>
              </tr>
            </table>
          </div>
        </div>
        <div class="col-lg-12">
          <br/><br/>
            <label>Logs</label>
            <form method="POST" action="https://tools.gss.akamai.com/fetch-view-logs/index.pl" target="_blank" id="log_viewer_form" style="display: inline;">
              <a href="#" class="pull-right hidden_links" onclick="document.getElementById('log_viewer_form').submit();">Log Viewer</a>
              <span class="hidden_controls">
                <textarea class="result_logs" name="loglines"></textarea>
                <input type="checkbox" name="G" value="G" checked>
                <input type="checkbox" name="F" value="F" checked>
                <input type="checkbox" name="S" value="S" checked>
                <input type="checkbox" name="R" value="R" checked>
                <input type="checkbox" name="f" value="f" checked>
                <input type="checkbox" name="r" value="r" checked>
                <input type="checkbox" name="type" value="type" checked>
                <input type="checkbox" name="time" value="time" checked>
                <input type="checkbox" name="requestid" value="requestid" checked>
                <input type="checkbox" name="clientip" value="clientip" checked>
                <input type="checkbox" name="arl" value="arl" checked>
                <input type="checkbox" name="method" value="method" checked>
                <input type="checkbox" name="status" value="status" checked>
                <input type="checkbox" name="contentlength" value="contentlength" checked>
                <input type="checkbox" name="totalsizeserved" value="totalsizeserved" checked>
                <input type="checkbox" name="originresp" value="originresp" checked>
                <input type="checkbox" name="transfer" value="transfer" checked>
                <input type="checkbox" name="totaltime" value="totaltime" checked>
                <input type="checkbox" name="error" value="error" checked>
                <input type="checkbox" name="forwardip" value="forwardip" checked>
                <input type="checkbox" name="misc" value="misc" checked>
              </span>
          </form>
          <form method="POST" action="http://lp.engr.akamai.com/lp.cgi" target="_blank" id="log_parser_form" style="display: inline;">
            <a href="#" class="pull-right hidden_links" onclick="document.getElementById('log_parser_form').submit();" style="padding-right: 12px;">Log Parser</a>
            <textarea class="hidden_controls result_logs" name="loglines"></textarea>
          </form>
          <textarea readonly class="form-control result_logs" rows="10" name="loglines"></textarea>
          <br/>
          <label>Others</label><br/>
          <textarea readonly class="form-control" rows="10" id="result_others"></textarea>
        </div>
      </div>
      <!-- 
      <footer class="footer">
        <div class="container">
          <p class="text-muted">Sangmin, Ricky, Yujin and Astin - Solutions Arichtect Dev Group, Akamai Korea</p>
        </div>
      </footer> 
      -->

      <script src="http://diver.astinchoi.com/diver/static/js/jquery.min.js" type="text/javascript"></script>
      <script src="http://diver.astinchoi.com/diver/static/js/bootstrap.min.js" type="text/javascript"></script>
      <script src="http://diver.astinchoi.com/diver/static/js/ie10-viewport-bug-workaround.js" type="text/javascript"></script>
      <script src="http://diver.astinchoi.com/diver/static/js/jquery-ui.js" type="text/javascript"></script>
      <script src="http://diver.astinchoi.com/diver/static/js/jquery-ui-custom-combobox.js" type="text/javascript"></script>
      <script src="http://diver.astinchoi.com/diver/static/js/socket.io-1.4.5.js" type="text/javascript"></script>
      <!--
      <script src="{{ url_for('static', filename='js/jquery.min.js') }}" type="text/javascript"></script>
      <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" type="text/javascript"></script>
      <script src="{{ url_for('static', filename='js/ie10-viewport-bug-workaround.js') }}" type="text/javascript"></script>
      <script src="{{ url_for('static', filename='js/jquery-ui.js') }}" type="text/javascript"></script>
      <script src="{{ url_for('static', filename='js/jquery-ui-custom-combobox.js') }}" type="text/javascript"></script>
      <script src="{{ url_for('static', filename='js/socket.io-1.4.5.js') }}" type="text/javascript"></script>
      -->
      <script type="text/javascript">
        $("#combobox").combobox();
        
        $(".hidden_links").hide();
        $(".hidden_controls").hide();

        $("#url").bind('keydown', function(e) {
          if (e.keyCode == 13) {
            $("#submit").click();
          }
        });
        
        $("#submit").click(function() { 
          // socket.on('connect', function() {
          //   console.log("socket.io connected");
          // });

          var progress = 1;
          var progressVar = setInterval(progressTimer, 1000);
          var progressLogdiver = 0;
          function progressTimer() {
            if(progress < 30) {
              progress += Math.floor((Math.random() * 12) + 1);
            } else if(progress <= progressLogdiver) {
              progress = progressLogdiver;
            } 

            $('#progress_bar').attr('style', 'width: ' + progress + '%');
            if(progress >= 100) {
              window.clearInterval(progressVar);
            }
          }

          function init() {
            progress = 1;
            progressLogdiver = 0;
            
            $('#req_header').text('');
            $('#progress_bar').removeClass('progress-bar-warning');
            $('#progress_bar').attr('style', 'width: 1%');
            $('#console').text('');
            $('#result_response_header').text('');
            $('.result_logs').text('');
            $('#result_others').text('');
            $("#summery_table").find("tr:not(:first)").remove();
            $(".hidden_links").hide();
            $("#submit").prop("disabled", true);
          }

          init();

          var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
          var socket = io.connect($SCRIPT_ROOT);
          var input_url = $('#input_url').val();
          var server_ip = $('#server_ip').val();
          var req_header = $('#req_header').val();

          socket.emit('log_diver', { 
            'input_url': encodeURI(input_url),
            'server_ip': server_ip,
            'req_header': req_header });

          socket.on('log_diver', function(message) {
            var json = jQuery.parseJSON(message);

            if (json.type == "request") {
              $('#console').append('[Request Header]\n' + json.content)
            } else if (json.type == "response") {
              $('#result_response_header').text(json.content);
            } else if(json.type == "console") {
              $('#console').append(json.content);
              $('#console').scrollTop($('#console')[0].scrollHeight);
            } else if(json.type == "progress") {
              progressLogdiver = json.content.trim();
              if (progressLogdiver >= 100) {
                window.clearInterval(progressVar);
                $('#progress_bar').attr('style', 'width: 100%');
              }
            } else if(json.type == "error") {
                window.clearInterval(progressVar);
                init();
                $('#progress_bar').addClass('progress-bar-warning');
                $('#progress_bar').attr('style', 'width: 100%');
                $('#console').append(json.message);
                $('#input_url').focus().select();
                $("#submit").prop("disabled", false);
                
            } else if(json.type == "log") {
              $('.result_logs').append(json.content.trim());
              $('.hidden_links').show();
              $('#result_others').append(json.others.trim());
              $("#googlemap").attr("src", "/googlemap?google_maps=" + json.summery);
              
              var summery = JSON.parse(json.summery.replace(/'/g, "\""));

              for(i = 1; i < summery.length; i++) {
                $("#summery_table").append(
                '<tr><td>' + summery[i][0] + '</td><td>' + summery[i][4] + '</td><td>' + summery[i][5] + '</td><td>' + summery[i][3] + '</td></tr>');
                }

              $("#submit").prop("disabled", false);
              $('#input_url').focus();
            }
          });

          socket.on('disconnect', function() {
            progress = 1;
            progressLogdiver = 0;
            window.clearInterval(progressVar);
          });
        });
      </script>
    </body>
</html>
<br/>